<div class="user-profile-header">
    <div class="header">
        <div class="user-profile-image">
            <img class="profile-image" alt="" style="" src="~/Content/photo/Users/default/default-128.png"/>
        </div>
        <div class="user-information">
            <h2 class="user-profile-header-name">
                July Mark
            </h2>
            <p class="user-profile-header-bio">
                Discover new daily looks you will love.
            </p>
            <p>
                <button class="buttonC primary btn" type="button">
                    <span class="button-text">
                        Follow
                    </span>
                </button>
            </p>
        </div>
    </div>
</div>
<div class="user-info-bar info-bar-base">

    <ul class="user-stats">
        <li>
            <a class="" href="#">
                86 Posts
            </a>
        </li>
        <li>
            <a class="" href="#">
                1.286 Likes
            </a>
        </li>
    </ul>
    <ul class="followers-following-links">
        <li>
            <a class="" href="#">
                1.286 Followers
            </a>
        </li>
        <li>
            <a class="" href="#">
                1.286 Following
            </a>
        </li>
    </ul>
</div>
