
<div class="modal-content dp-none">
    <div class="modal">
        <div class="standard-form">
            <h1>
                Add new content
            </h1>
            <ul>
                <li>
                    <h3>
                        <label>
                            Category
                        </label>
                    </h3>
                    <div>
                        <select>
                            <option value="1">Category 1</option>
                            <option value="2">Category 2</option>
                            <option value="3">Category 3</option>
                            <option value="4">Category 4</option>
                            <option value="5">Category 5</option>
                            <option value="6">Category 6</option>
                            <option value="7">Category 7</option>
                            <option value="8">Category 8</option>
                            <option value="9">Category 9</option>
                        </select>
                    </div>
                </li>
                <li>
                    <h3>
                        <label>
                            Description
                        </label>
                    </h3>
                    <div>
                        <textarea class="content" placeholder="Add a short description to your post..." name="description"></textarea>
                    </div>
                </li>
                <li>
                    <h3>
                        <label>
                            Image
                        </label>
                    </h3>
                    <div>
                        <input id="upload" type="file" />
                    </div>
                </li>
            </ul>
            <div class="form-footer">
                <div class="form-footer-buttons">
                    <button class="buttonC btn close-modalpopup" type="button">
                        <span class="button-text">
                            Cancel
                        </span>
                    </button>
                    <button class="buttonC primary btn" type="button">
                        <span class="button-text">
                            Submit
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
