<div class="notification-wrapper">
    <a class="notification" href="#">
        <span class="img">
            <img src="@Url.Action("GetImage", "Home", new {id = 2})" />
        </span>
        <span class="name" style="text-align:center;">Some Text</span>
    </a>
</div>