@model IEnumerable<SocialNetwork.WEB.ViewModels.UserViewModel>

<div class="typeahead" style="display: none;">
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <a href="">
                    <span class="img">
                        <img src="@Url.Action("GetImage", "Home", new {id = item.UserId})" />
                    </span>
                    <span class="name" style="text-align:center;">@item.LastName @item.FirstName</span>
                </a>
            </li>
        }
    </ul>
</div>

