@import url("https://use.typekit.net/ggg8dii.css");
html {
    background-color: #E3E3E3;
}
body, button, input, select, textarea {
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 12px;
    color: #211922;
}
header {
    height: 44px;
    width: 100%;
    background-color: #ffffff;
    left: 0;
    right: 0;
    top: 0;
    z-index: 670;
    position: fixed;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1),0px 1px 0px 0px rgba(0,0,0,0.1);
}
#header-inner{
    max-width:1250px;
    min-width:750px;
    margin:0px auto;
    display:block;
    height:29px;
    overflow:visible;
    padding:7px 0px 0px;
    z-index:680;
}
.logo {
    left: 50%;
    height: 26px;
    width: 204px;
    position: absolute;
    font-family: voluta-script-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#ff0000;
    font-size:46px;
    margin-left:-52px;
    margin-top:0px;
    top:-7px;
}
#header-left{
    float:left;
    margin-left:7px;
    width:250px;
}
#header-right {
    float: right;
    margin-right: 7px;
    width: 250px;
}
/*ButtonBEGIN*/
.buttonC {
    float: left;
    margin-right: 6px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.buttonC-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 690;
}


/* Links inside the dropdown */
.buttonC-content a{
    color: rgb(113,113,113);
    padding: 12px 16px;
    text-decoration: none;
    font-weight: bold;
    display: block;
}

/* Change color of dropdown links on hover */
.buttonC-content a:hover {
    background-color:#ddd;
    color: #000;
}

/* Show the dropdown menu on hover */
.buttonC:hover .buttonC-content, .buttonC:hover .notification-wrapper{
    display: block;
}

.buttonC > button{
    height: 30px;
    width: 36px;
    border-radius: 3px 3px 3px 3px;
    background: linear-gradient(rgb(255,255,255),rgb(240,240,240));
    border: 1px solid rgb(204,204,204);
    text-shadow: 0px 1px rgb(255,255,255);
}
.buttonC > button em{
    color: #bdbdbd;
    position: relative;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}
.buttonC > button:hover{
    background-image: linear-gradient(#e3262e,#ab171e);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.22);
    background-color: #ab171e;
    border: 1px solid rgb(113,113,113);
    text-shadow: 0 -1px rgba(0,0,0,0.11);
}
.buttonC > button:hover em{
    color: #fff;
    vertical-align: middle;
}
/*ButtonEND*/
/*SearchBEGIN*/
header .searchForm{
    float:left;
    position:relative;
    width:194px;
}
.searchForm .field{
    border-radius:3px 3px 3px 3px;
    box-shadow:0px 0px 2px rgba(0,0,0,0.07) inset;
    background:none repeat scroll 0% 0% rgb(250, 249,247);
    border: 1px solid rgb(204,204,204);
    color:rgb(113,113,113);
    font-size:13px;
    font-weight:bold;
    padding:6px 30px 6px 9px;
    z-index:670;
}
/*SearchEND*/
/*ProfileBEGIN*/
.profile-wrapper{
    overflow:hidden;
}
.profile{
    background:linear-gradient(rgb(255,255,255),rgb(240,240,240));
    border-radius:3px 3px 3px 3px;
    border:1px solid rgb(204,204,204);
    margin-right:7px;
    position:relative;
    height:28px;
}
.profile a{
    color:rgb(113,113,113);
    font-size:13px;
    font-weight:bold;
    text-decoration:none;
}
.profile .profile-link{
    float:left;
    width:100%;
}
.profile .profile-image {
    border-radius:3px 0px 0px 3px;
    float:left;
    height:30px;
    margin:-1px;
    width:30px;
}
.profile .profile-name{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    display:block;
    height:21px;
    padding:6px 9px 1px 10px;
}
.profile .profile-name:hover {
    border-radius: 3px 3px 3px 3px;
    border: 1px solid transparent;
    color: #fff;
    background-image: linear-gradient(#e3262e,#ab171e);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.22);
    background-color: #ab171e;
    text-shadow: 0 -1px rgba(0,0,0,0.11)
}
/*ProfileEND*/
/*DropdownSearch BEGIN*/
.typeahead {
    background-color: #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.44);
    display: none;
    left: 0;
    margin: 0 1px;
    position: relative;
    right: 0;
    top: 0;
    z-index: 600;
}
.typeahead ul {
    padding-top: 5px;
    margin-top: 0px;
    padding-left: 0px;
    padding-bottom: 5px;
}

.typeahead ul li {
    list-style: none outside none;
    padding: 10px;
    vertical-align: middle;
}

.typeahead ul li:hover {
    background-color: #f3efec;
    color: #000;
}
.typeahead ul li a {
    color: rgb(113,113,113);
    text-decoration: none;
    font-weight: bold;
    display: flex;
}
.typeahead ul li a:hover {
    color: #000;
}

.typeahead img {
    border-radius: 3px;
}

.typeahead .name {
    padding: 0px;
    vertical-align: middle;
    margin:5px;
    align-self:center;
}
/*DropdownSearch END*/
/*AddContent BEGIN*/
.body-locked {
    overflow: hidden;
}

.dp-none {
    display: none !important;
}

.dp-block {
    display: block !important;
}

.modal-content {
    display: none;
    overflow-y: scroll;
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 10000;
}

.modal {
    position: relative;
    width: 550px;
    margin: 50px auto;
    border-radius: 3px 3px 3px 3px;
    background: none repeat scroll 0% 0% rgb(248, 248, 248);
    box-shadow: 0px 0px 2px #888888;
    margin-bottom: 14px;
    margin-top: 200px;
}

.standard-form {
    margin: 0px auto 70px;
    width: 550px;
}

.standard-form > h1 {
    border-bottom: 1px solid rgb(231, 231, 231);
    color: rgb(51, 51, 51);
    font-size: 20px;
    margin: 0px;
    min-height: 20px;
    padding: 17px 18px 13px;
    position: relative;
}

.standard-form > ul {
    border-radius: 3px 3px 3px 3px;
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    margin: 0px;
}


.standard-form > ul > li:first-child {
    border: 0px none;
}

.standard-form > ul > li {
    overflow: hidden;
    border-top: 1px solid rgb(223, 223, 223);
    padding: 15px 21px 15px 27px;
}

ul {
    margin: 0px;
    padding: 0px;
}

ul li {
    list-style: none outside none;
    padding: 0px;
}

.standard-form > ul > li > h3 {
    color: rgb(85, 85, 85);
    float: left;
    font-size: 13px;
    font-weight: bold;
    padding: 4px 10px 0px 0px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

.standard-form > ul > li > div {
    margin-left: 150px;
    min-height: 28px;
    padding-left: 1px;
}

.standard-form > ul > li > div > .content {
    border-radius: 1px 1px 1px 1px;
    -moz-box-sizing: border-box;
    background: none repeat scroll 0% 0% rgb(240, 240, 240);
    border: 1px solid rgb(209, 209, 209);
    color: rgb(113, 113, 113);
    display: block;
    min-height: 1em;
    outline: medium none;
    padding: 8px;
    width: 100%;
    word-wrap: break-word;
}

.standard-form textarea {
    height: 85px;
    line-height: 20px;
    resize: vertical;
}

.standard-form input[type="text"], .standard-form input[type="email"], .standard-form input[type="password"], .standard-form textarea {
    background: linear-gradient(rgb(240, 240, 240), rgb(245, 245, 245)) repeat scroll 0% 0% transparent;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.12) inset;
    width: 100%;
    border: 1px solid rgb(214, 211, 206);
    color: rgb(51, 51, 51);
    font-size: 14px;
    padding: 7px;
}


.form-footer {
    border-radius: 0px 0px 3px 3px;
    background: none repeat scroll 0% 0% rgb(240, 240, 240);
    clear: both;
    border-top: 1px solid rgb(218, 218, 218);
    padding: 5px 15px 25px;
    height: 15px;
}

.form-footer .form-footer-buttons {
    float: right;
}

/*AddContent END*/


/*Button BEGIN*/

.buttonC.btn {
    background: linear-gradient(rgb(255, 255, 255), rgb(240, 240, 240)) repeat scroll 0% 0% rgb(240, 240, 240);
    border: 1px solid rgb(204, 204, 204);
    color: rgb(95, 95, 95);
    cursor: pointer;
    font-weight: bold;
    padding: 8px 14px 7px;
    white-space: nowrap;
    border-radius: 3px;
}

.buttonC.btn.primary {
    background-image: linear-gradient(#e3262e,#ab171e);
    box-shadow: 0 1px 0 0 rgba(255,255,255,0.34);
    background-color: #ab171e;
    border: 1px solid;
    border-bottom-color: #820a0f;
    border-left-color: #9a1015;
    border-right-color: #9a1015;
    border-top-color: #af151b;
    color: #fff;
    text-shadow: 0 -1px rgba(0,0,0,0.11)
}

.buttonC.btn.primary:hover {
    background-image: linear-gradient(#e63d44,#c11a22);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.22);
    border: 1px solid #920c12
}

/*Button END*/

/*Select BEGIN*/

select {
    border-radius: 3px 3px 3px 3px;
    width: 100%;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(207, 207, 207);
    color: rgb(51, 51, 51);
    cursor: pointer;
    font-weight: bold;
    height: 28px;
    padding: 4px 4px 4px 14px;
}

/*Select END*/
/*ProfileDropDown START*/
.profile-dropdown {
    margin: 0px 1px;
    position: relative;
    top: 0px;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.44);
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    display: none;
    left: 0px;
    right: 0px;
    z-index: 600;
}


.profile-dropdown ul {
    padding-top: 5px;
    margin-top: 0px;
    padding-left: 0px;
    padding-bottom: 5px;
}

.profile-dropdown ul li {
    list-style: none outside none;
    padding: 10px;
    vertical-align: middle;
}

.profile-dropdown ul li:hover {
    background-color: #f3efec;
    color: #000;
}
.profile-dropdown ul li a {
    color: rgb(113,113,113);
    text-decoration: none;
    font-weight: bold;
    display: block;
}
.profile-dropdown ul li a:hover {
    color: #000;
}
/*ProfileDropDown END*/
/*Notification BEGIN*/
.notification-wrapper .notification {
    color: rgb(113,113,113);
    display: flex;
    text-decoration: none;
    font-weight: bold;
    border-radius: 3px;
}
.notification-wrapper .notification .name {
    padding: 0px;
    vertical-align: middle;
    margin: 5px;
    align-self: center;
}
.notification .name:hover {
    color: #000;
}
.notification-wrapper {
    min-width: 160px;
    position: absolute;
    display: none;
    list-style: none outside none;
    padding: 10px;
    vertical-align: middle;
    background-color: #fff;
    z-index: 690;
}
.notification-wrapper:hover {
    background-color: #f3efec;
    color: #000;
}
/*Notification END*/
/*MainContent BEGIN*/
#main{
    padding-top: 45px;
}
#main-inner{
    max-width:1250px;
    min-width:750px;
    margin:0px auto;
}
/*MainContent END*/
/*Mansory BEGIN*/
#container .grid-sizer {
    width: 10px;
}

#container .item {
    width: 236px;
    margin: 14px 7px 0px;
    background-color: #fff;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0px 0px 2px #888888;
}

#container .item img {
    width: 236px;
    border-radius: 3px 3px 0px 0px;
}

#container .item img:hover {
    background: none repeat scroll rgba(255,255,255,0.1)
}

#container .item.w2 {
    width: 40%;
}
/*OpenModal BEGIN */
.open-modal {
    position: relative;
    top: 400px;
}

.pin-meta {
    padding: 6px 14px 7px;
}

.pin-description {
    margin: 5px 0px;
    font-size: 13px;
    line-height: 17px;
    word-wrap: break-word;
}

.pin-description a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

a {
    color: rgb(113, 113, 113);
    font-weight: bold;
    text-decoration: none;
}

.pin-social-meta .social-item {
    display: inline-block;
    vertical-align: middle;
    color: rgb(167, 167, 167);
    padding-right: 7px;
}

.pin-user-attribution {
    font-family: 'Helvetica',sans-serif;
    font-weight: bold;
    color: rgb(119, 119, 119);
    border-top: 1px solid rgb(231, 231, 231);
}

.first-attribution {
    padding-top: 10px;
}

.attribution-item {
    border-radius: 0px 0px 3px 3px;
    overflow: hidden;
    display: block;
    line-height: 14px;
    padding: 5px 14px;
}

.attribution-item:hover {
    background: #f1f1f1;
}

.attribution-item img {
    border-radius: 2px 2px 2px 2px !important;
    float: left;
    height: 30px;
    margin-right: 5px;
    width: 30px !important;
}

.attribution-title {
    color: rgb(183, 183, 183);
}

.attribution-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(113, 113, 113);
    display: block;
}

.last-attribution {
    padding-bottom: 10px;
}

.pin-description {
    border-top: medium none;
    /*border-top: 1px solid rgb(227, 227, 227);*/
    font-size: 17px;
    line-height: 23px;
    color: rgb(51, 51, 51);
    word-wrap: break-word;
}

.pin-description-comment {
    margin-bottom: 0px;
    padding: 23px 20px;
    overflow: hidden;
}

.user-thumb-container {
    position: relative;
    margin-right: 16px;
    width: 50px;
    float: left;
}

.user-thumb-container img {
    border-radius: 3px 3px 3px 3px !important;
    height: 50px !important;
    width: 50px !important;
    padding: 0px 0px !important;
}

.commenter-name-comment-text {
    margin-left: 66px;
}


.comment-description-creator {
    color: rgb(69, 69, 69);
    font-size: 16px;
    line-height: 26px;
}


.comment-description-time-ago {
    color: rgb(153, 153, 153);
    font-size: 13px;
    font-weight: normal;
}


.comment-description-content {
    color: rgb(23, 23, 23);
    font-size: 15px;
    font-weight: normal;
    line-height: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
    max-width: 600px;
}
/*OpenModal END*/
/*ModalContainer BEGIN*/
.modal-container {
    display: none;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(227, 224, 226, 0.95);
    z-index: 10000;
}

.modal-content {
    display: none;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 10000;
}

.modal-popup {
    width: 736px;
    margin: 50px auto;
    position: relative;
}

.modal-popup .modal-box {
    /*height: 800px;*/
    width: 736px;
    /*margin: 50px auto;*/
    background: indianred;
    border-radius: 3px 3px 3px 3px;
    position: relative;
    background: none repeat scroll 0% 0% rgb(248, 248, 248);
    box-shadow: 0px 0px 2px #888888;
    margin-bottom: 14px;
}

.modal-popup .modal-box-popup {
    width: 651px;
    background: indianred;
    border-radius: 3px 3px 3px 3px;
    position: relative;
    background: none repeat scroll 0% 0% rgb(248, 248, 248);
    box-shadow: 0px 0px 2px #888888;
    margin-bottom: 14px;
    margin-top: 200px;
}

.modal-popup img {
    position: relative;
    padding: 40px 0px;
    margin: 0px auto;
    display: block;
    max-width: 100%;
}


.comment-description-content textarea {
    background: linear-gradient(rgb(240, 240, 240), rgb(245, 245, 245)) repeat scroll 0% 0% transparent;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.12) inset;
    width: 100%;
    border: 1px solid rgb(214, 211, 206);
    color: rgb(51, 51, 51);
    font-size: 14px;
    padding: 7px;
}


.buttonC.close.visible {
    transform: translateY(0px);
}

.closeup .visible {
    display: block;
}

.close {
    padding-left: 2px;
    position: fixed;
    top: 0px;
    z-index: 652;
}

.buttonC.close {
    background: linear-gradient(rgb(255, 255, 255), rgb(235, 235, 235)) repeat scroll 0% 0% transparent;
    border-radius: 0px 0px 3px 3px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.34), 1px 0px 0px rgba(255, 255, 255, 0.9) inset;
    cursor: pointer;
    display: block;
    height: 44px;
    right: 14px;
    width: 44px;
    transition-delay: 0.3s;
    transition-duration: 0.35s;
    transition-property: -webkit-transform, -moz-transform, -o-transform, transform;
    transform: translateY(-60px);
}

.buttonC.borderless {
    background-color: transparent;
    border: 0px none;
    margin: 0px;
    padding: 0px;
}


.buttonC.close em {
    height: 16px;
    width: 16px;
    background-image: url('icons/cross.png');
}

.buttonC em {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.pin-commentlist {
    background-color: #fff;
}
/*ModalContainer END*/
/*Mansory END*/
/*Editing START*/
.definitions {
    margin: 0px auto 70px;
    width: 734px;
}

.definitions h1 {
    color: rgba(21, 21, 21, 0.8);
    text-shadow: 1px 2px 4px rgb(227, 227, 227), 0px 0px 0px rgb(0, 0, 0), 1px 2px 4px rgb(227, 227, 227), 0px 1px 0px rgb(255, 255, 255);
    font-size: 47px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    max-width: 736px;
    text-align: center;
    line-height: 54px;
    margin-bottom: 52px;
}


.definitions > ul {
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.33);
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    margin-bottom: 14px;
}

.definitions > ul > li {
    overflow: hidden;
    border-top: 1px solid rgb(223, 223, 223);
    padding: 15px 21px 15px 27px;
}

.definitions > ul > li > h3 {
    color: rgb(85, 85, 85);
    float: left;
    font-size: 13px;
    font-weight: bold;
    padding: 4px 10px 0px 0px;
    width: 216px;
}

.definitions > ul > li > div {
    margin-left: 226px;
    min-height: 28px;
    padding-left: 1px;
}

label {
    cursor: pointer;
}


.form-inline-checked-set {
    padding-top: 6px;
}

.form-text-field,
.definitions input[type="text"],
.definitions input[type="email"],
.definitions input[type="password"],
.definitions textarea,
.login-form input[type="text"],
.login-form input[type="email"],
.login-form input[type="password"],
.login-form textarea {
    background: linear-gradient(rgb(240, 240, 240), rgb(245, 245, 245)) repeat scroll 0% 0% transparent;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.12) inset;
    -moz-box-sizing: border-box;
    width: 100%;
    border: 1px solid rgb(214, 211, 206);
    color: rgb(51, 51, 51);
    font-size: 14px;
    padding: 7px;
}

.form-select-field,
.definitions select,
.login-form select {
    border-radius: 3px 3px 3px 3px;
    -moz-box-sizing: border-box;
    width: 100%;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(207, 207, 207);
    color: rgb(51, 51, 51);
    cursor: pointer;
    font-weight: bold;
    height: 28px;
    padding: 4px 4px 4px 14px;
}

.form-inline-checked-set {
    padding-top: 6px;
}

fieldset {
    border: 0px none;
    margin: 0px;
    padding: 0px;
}


.form-inline-checked-set li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;
}

.form-inline-checked-set label {
    color: rgb(85, 85, 85);
    cursor: pointer;
}


.form-inline-checked-set label > input {
    margin-right: 3px;
}

.form-inline-checked-set label > span {
    font-size: 13px;
    font-weight: bold;
    vertical-align: middle;
}

.form-inline-checked-set label {
    color: rgb(85, 85, 85);
    cursor: pointer;
}

.form-checked-set li {
    overflow: hidden;
    margin-top: 10px;
}

.form-checked-set label > span {
    font-size: 13px;
    font-weight: bold;
    vertical-align: middle;
}

.form-checked-set label {
    color: rgb(85, 85, 85);
    cursor: pointer;
}

.form-checked-set label .fancy-toggle {
    margin-right: 8px;
}

.form-checked-set span {
    line-height: 28px;
}

.form-footer {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.33);
    border-radius: 0px 0px 3px 3px;
    background: none repeat scroll 0% 0% rgb(240, 240, 240);
    clear: both;
    border-top: 1px solid rgb(218, 218, 218);
    padding: 10px 20px;
    height: 35px;
}

.form-footer .form-footer-delete {
    float: left;
    margin-right: 10px;
}

.form-footer .form-footer-buttons {
    float: right;
}

.form-footer .btn.buttonC {
    margin-left: 8px;
    padding-left: 15px;
    padding-right: 15px;
}
/*Editing END*/
/*UserProfile BEGIN*/
.user-profile-header {
    display: table;
    margin: 14px auto;
}

.user-profile-header .header {
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.33);
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    color: rgb(51, 51, 51);
    float: left;
    height: 153px;
    position: relative;
    width: 736px;
}

.user-profile-header .user-profile-image {
    float: left;
    position: relative;
    width: 153px;
}

.user-profile-header .user-profile-image .profile-image {
    border-radius: 4px 0px 0px 4px;
    height: 153px;
    width: 153px;
}

.user-profile-header .user-information {
    float: left;
    padding-left: 14px;
    width: 555px;
}

.user-profile-header .user-profile-header-bio {
    overflow: hidden;
    clear: both;
    color: rgb(119, 119, 119);
    font-size: 17px;
    line-height: 22px;
    margin: 0px 0px 14px;
    max-height: 55px;
    word-wrap: break-word;
}

.user-profile-header .user-profile-header-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba(21, 21, 21, 0.8);
    text-shadow: 1px 2px 4px rgb(255, 255, 255), 0px 0px 0px rgb(0, 0, 0), 1px 2px 4px rgb(255, 255, 255), 0px 1px 0px rgb(255, 255, 255);
    font-weight: bold;
    margin-bottom: 2px;
    margin-left: -2px;
    margin-top: 12px;
    font-size: 27px;
}

.info-bar-base {
    background: linear-gradient(rgb(243, 243, 243), rgb(229, 229, 229)) repeat scroll 0% 0% rgb(243, 243, 243);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.14);
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.17) rgba(0, 0, 0, 0.2) rgb(212, 212, 212);
    clear: both;
    color: rgb(51, 51, 51);
    height: 44px;
    line-height: 44px;
    margin-bottom: 2px;
    max-width: 10000px;
    position: relative;
}

.user-info-bar {
    text-align: center;
}

.user-info-bar .user-follow-button {
    margin-top: -1px;
    position: relative;
    z-index: 1;
}

.user-info-bar .user-stats {
    left: 0px;
}

.user-info-bar .followers-following-links, .user-info-bar .user-stats {
    overflow: hidden;
    position: absolute;
    top: 0px;
}

.user-info-bar .user-stats li {
    border-right: 1px solid rgb(205, 205, 205);
}

.user-info-bar li {
    display: inline;
    float: left;
}

.info-bar-base li a, .info-bar-base li span {
    box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.9) inset;
    color: rgb(119, 119, 119);
    display: block;
    font-weight: bold;
    padding: 1px 20px 0px;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8);
}

.user-info-bar .followers-following-links {
    right: 0px;
}

.user-info-bar .followers-following-links, .user-info-bar .user-stats {
    overflow: hidden;
    position: absolute;
    top: 0px;
}


.user-info-bar .followers-following-links li {
    border-left: 1px solid rgb(205, 205, 205);
}

.info-bar-base {
    width: 1236px;
    margin: 0px auto;
}

.info-bar-base li a:hover,
.info-bar-base li a.active,
.info-bar-base li span:hover,
.info-bar-base li span.active {
    background: linear-gradient(#ffffff,#f4f4f4);
    background-color: #fff;
    color: #333
}
/*UserProfile END*/
/*Login BEGIN*/
.content-wrapper {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0px;
    right: 0px;
}

.login {
    max-width: 750px;
    padding-top: 50px;
    margin: 0px auto;
}

.content-wrapper .login .logo2 {
    height: 39px;
    width: 116px;
    background: url("/images/scratch_big.png") no-repeat scroll 0px 0px transparent;
    margin: 0px auto;
}


.content-wrapper .login .home-text {
    font-family: "Georgia",serif;
    color: rgb(51, 51, 51);
    font-size: 24px;
    font-weight: normal;
    margin-top: 30px;
    text-align: center;
    position: relative;
}

.content-wrapper .login .login-buttons {
    text-align: center;
    margin-top: 50px;
}

.big {
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
}

.redcentered {
    border-bottom: 1px solid rgb(231, 231, 231);
    color: rgb(255, 255, 255) !important;
    font-size: 20px;
    margin: 0px;
    min-height: 20px;
    padding: 17px 18px 13px;
    position: relative;
    background: linear-gradient(to bottom, rgb(255, 48, 25) 0%, rgb(207, 4, 4) 100%) repeat scroll 0% 0% transparent;
    text-align: center;
}

.promo-image {
    text-align: center;
}

.modal-login {
    height: 237px;
}
/*Login END*/
/*Validation BEGIN*/
.validation-summary-errors ul {
    list-style: none;
}
/*Validation BEGIN*/